@using project.ViewModels;
@using project.Models;
@model BooksViewModel;
@{
    ViewData["Title"] = "Books";
}

<div>
    <partial name="/Views/Partials/_CheckoutForms.cshtml" />
    <partial name="/Views/Partials/_Books.cshtml" for="Books" />
</div>
