@using project.ViewModels;
@using project.Models;
@model CheckoutsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (Checkout checkout in Model.Checkouts)
    {
        <div>@Html.DisplayFor(modelItem => checkout.Member.Name) -> @Html.DisplayFor(modelItem => checkout.Book.Id)</div>
    }

    <form id="checkout-form" method="Post" action="@Url.Action("New", "Checkouts")">
        <input name="memberId" type="hidden" value="" />
        <input name="bookId" type="hidden" value="" />
    </form>    

    <form id="checkin-form" method="Post" action="@Url.Action("Checkin", "Checkouts")">
        <input name="bookId" type="hidden" value="" />
    </form>    

</div>
