@using project.ViewModels;
@using project.Models;
@model CheckoutsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (Checkout checkout in Model.Checkouts)
    {
        <div>@Html.DisplayFor(modelItem => checkout.Member.Name) -> @Html.DisplayFor(modelItem => checkout.Book.Id)</div>
    }

    <partial name="/Views/Partials/_CheckoutForms.cshtml" />
</div>
