@using project.Models;
@model Book;

<tr class="book-row">
    <td>@Html.DisplayFor(modelItem => Model.Name)</td>
    <td>@Html.DisplayFor(modelItem => Model.Author)</td>
    <td>@Html.DisplayFor(modelItem => Model.Year)</td>
    <td>
    </td>
</tr>
