@using project.Models;
@model IEnumerable<Book>

<table id="book-results">
    <tr class="book-table-header">
        <th class='title-column'>Title</th>
        <th class='author-column'>Author</th>
        <th class='year-column'>Publish Year</th>
        <th class='status-column'>Status</th>
        <th class='actions-column'></th>
    </tr>

    <partial name="/Views/Partials/_BookResults.cshtml" model="Model" />
</table>
