@using project.Models;
@model Book;

<tr>
    <td>@Html.DisplayFor(modelItem => Model.Name)</td>
    <td>@Html.DisplayFor(modelItem => Model.Author)</td>
    <td>@Html.DisplayFor(modelItem => Model.Year)</td>
    <td>asdf</td>
</tr>
