<form id="checkout-form" method="Post" action="@Url.Action("New", "Checkouts")">
    <input name="memberId" type="hidden" value="" />
    <input name="bookId" type="hidden" value="" />
</form>    

<form id="checkin-form" method="Post" action="@Url.Action("Checkin", "Checkouts")">
    <input name="bookId" type="hidden" value="" />
</form>    
