@using project.Models;
@model IEnumerable<Member>

<table id="member-results">
    <tr class="member-table-header">
        <th class='name-column'>Name</th>
    </tr>

    <partial name="/Views/Partials/_MemberResults.cshtml" model="Model" />
</table>
