@using project.ViewModels;
@using project.Models;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (Member member in Model.Members)
    {
        <div>@Html.DisplayFor(modelItem => member.Name)</div>
    }
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publish Year</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td><form method="get"><input type="text" name="title_search" id="title_search"/></form></td>
            <td><form method="get"><input type="text" name="author_search" id="author_search"/></form></td>
            <td><form method="get"><input type="text" name="year_search" id="year_search"/></form></td>
            <td></td>
        </tr>
        @foreach (Book book in Model.Books)
        {
            @Html.Partial("/Views/Partials/_BookRow.cshtml", book);
        }
    </table>
</div>
