@using project.ViewModels;
@using project.Models;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (Member member in Model.Members)
    {
        <div>@Html.DisplayFor(modelItem => member.Name)</div>
    }

    @foreach (Checkout checkout in Model.Checkouts)
    {
        <div>@Html.DisplayFor(modelItem => checkout.Member.Name) -> @Html.DisplayFor(modelItem => checkout.Book.Id)</div>
    }

    <partial name="/Views/Partials/_CheckoutForms.cshtml" />

    <form id="searchForm" method="GET" action="@Url.Action("Search", "Books")">
        <input id="searchTerms" name="searchTerms" type="text" autocomplete="off" />
    </form>

    <partial name="/Views/Partials/_Books.cshtml" for="Books" />
</div>
