@using project.ViewModels;
@using project.Models;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (Member member in Model.Members)
    {
        <div>@Html.DisplayFor(modelItem => member.Name)</div>
    }
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publish Year</th>
        </tr>
        @foreach (Book book in Model.Books)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => book.Name)</td>
                <td>@Html.DisplayFor(modelItem => book.Author)</td>
                <td>@Html.DisplayFor(modelItem => book.Year)</td>
            </tr>
        }
    </table>
</div>
