@using project.ViewModels;
@using project.Models;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (Member member in Model.Members)
    {
        <div>@Html.DisplayFor(modelItem => member.Name)</div>
    }

    <form id="searchForm" method="GET" action="@Url.Action("Search", "Home")">
        <input id="searchTerms" name="searchTerms" type="text" autocomplete="off" />
    </form>

    <table id="book-results">
        <tr class="book-table-header">
            <th class='title-column'>Title</th>
            <th class='author-column'>Author</th>
            <th class='year-column'>Publish Year</th>
            <th class='actions-column'>Actions</th>
        </tr>
        <partial name="/Views/Partials/_Books.cshtml" for="Books" />
    </table>
</div>
