html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#searchTerms, #book-results {
  width: 100%;
}

.author-column {
  min-width: 120px;
}

.year-column {
  width: 120px;
}

.actions-column {
  width: 80px;
}

.book-available {
  background-color: #bfb;
}

.book-unavailable {
  background-color: #eee;
}